<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /sondage/

    RewriteRule ^$ public/ [L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule><IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /sondage/

    RewriteRule ^$ public/ [L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>